
/* -----------------------
   Global
-------------------------*/


*{

box-sizing:border-box;

}



body{

margin:0;

font-family:

Arial,
Helvetica,
sans-serif;

background:#f5f5f5;

}




/* -----------------------
   Gallery
-------------------------*/

.gallery-header{

text-align:center;

padding:30px 20px;

}

.gallery-header h1{

font-size:40px;

margin:0 0 10px;

font-weight:700;
}

.gallery-header p{

font-size:18px;

color:#666;

margin:0;

}
.gallery{


display:grid;


grid-template-columns:

repeat(

auto-fit,

minmax(280px,1fr)

);



gap:20px;



padding:25px;


}



/* -----------------------
   Image Wrapper
   CLS Prevention
-------------------------*/


.image-wrapper{


position:relative;


overflow:hidden;


border-radius:12px;


cursor:pointer;


background:#ddd;


width:100%;


}



/* -----------------------
   Main Image
-------------------------*/


.main-image{


width:100%;


height:100%;


object-fit:cover;


display:block;


transition:

opacity .5s ease,

transform .5s ease;


}




.main-image:hover{


transform:scale(1.05);


}



/* -----------------------
   Blur Placeholder
-------------------------*/


.blur-image{


position:absolute;


top:0;


left:0;


width:100%;


height:100%;


object-fit:cover;


filter:blur(20px);


transform:scale(1.1);


transition:

opacity .6s ease;


z-index:1;


}



.blur-image.loaded{


opacity:0;


}





/* -----------------------
   Lightbox
-------------------------*/


.lightbox{


position:fixed;


top:0;


left:0;


width:100%;


height:100%;



background:

rgba(

0,

0,

0,

0.85

);



display:flex;



align-items:center;



justify-content:center;



z-index:999;



}



.lightbox img{


max-width:90%;


max-height:85%;



object-fit:contain;



border-radius:10px;


}





.lightbox button{


position:absolute;


top:20px;


right:30px;



font-size:35px;



background:none;



color:white;



border:none;



cursor:pointer;


}



/* -----------------------
 Loader
-------------------------*/


.loader{


height:100vh;



display:flex;



justify-content:center;



align-items:center;



font-size:24px;


}




/* -----------------------
 Mobile Responsive
-------------------------*/


@media(max-width:600px){

.gallery{

grid-template-columns:

1fr;

padding:15px;

}
}